<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add questions</title>
</head>
<body>
<form id="add-exam" name="add-exam" style="margin-top: 30px">
    <div class="row text-center">
        <div class="col-sm-6">
            <label for="name">Название экзамена</label>
            <span class="input-group-addon"></span>
            <input type="text" class="form-control" id="name" name="name"
                   placeholder="Enter exam name" required="required">
        </div>
        <div class="col-sm-6">
            <label for="category">Выберите категорию</label>
            <span class="input-group-addon"></span>
            <select class="form-control" id="category" name="category">
                <option ng-repeat="category in categories">{{ category.name }}</option>
            </select>
        </div>
        <div class="col-sm-12">
            <button type="submit" ng-click="addExam();" class="btn btn-info" style="margin-top: 15px">
                Add Exam
            </button>
        </div>
    </div>
</form>
<div class="col-sm-12">
    <hr align="left" width="100%" color="#ff9900" />
</div>
<form id="add-question" name="add-question" style="margin-top: 50px">
    <div class="row p-1 text-center">
        <div class="col-sm-6">
            <label for="exam">Exams</label>
            <span class="input-group-addon"></span>
            <select class="form-control" id="exam" name="exam" ng-model="e" ng-change="changedValue(e)">
                <option ng-repeat="exam in exams">{{ exam.name }}</option>
            </select>
        </div>
        <div class="col-sm-6">
            <label for="word">Слово по которому будет вопрос</label>
            <span class="input-group-addon"></span>
            <select class="form-control" id="word" name="word">
                <option ng-repeat="word in wordsIsNotQuestion">{{ word.word }}</option>
            </select>
        </div>
        <div class="col-sm-12">
            <label for="variants">Варианты ответов.</label>
            <span class="input-group-addon"></span>
            <select multiple size="6" class="form-control" id="variants" name="variants">
                <option ng-repeat="word in words">{{ word.word }}</option>
            </select>
        </div>
        <div class="col-sm-12">
            <button type="submit" ng-click="addQuestion();" class="btn btn-info" style="margin-top: 15px">
                Add Card
            </button>
        </div>
    </div>
</form>
</body>
</html>