<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words-by-part-of-speech</title>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="#!/">Главная</a></li>
            <li><a href="#!/training">Обучение</a></li>
            <li><a href="#!/learning-by-part-of-speech">Части речи</a></li>
            <li class="active">{{ partOfSpeech }}</li>
        </ul>
    </div>
    <div class="col-sm-12" id="search">
        <input type="text" ng-model="query.word" class="form-control" placeholder="Search"/>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3"
         dir-paginate="word in words | itemsPerPage: itemsPerPage | filter: query" total-items="total_count">
        <div class="card-container">
            <div class="card">
                <div class="front">
                    <div class="cover text-center">
                        <h1 style="padding: 10px; margin: 0">
                            {{ word.word }}
                        </h1>
                        <div class="p-3">
                                <span class="card-font">
                                    [{{ word.transcription }}]
                                </span>
                        </div>
                    </div>
                    <div class="content text-center">
                        <div style="padding: 5px; margin-top: 50px">
                            <span ng-repeat="phrase in word.phrases">
                                {{ phrase.phrase }}
                                <br>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="back text-center">
                    <div class="cover text-center">
                        <div style="padding-top: 10px">
                            <span ng-repeat="translation in word.translations" style="font-weight: bold; font-size: 24px">
                                {{ translation.translation }} {{$last ? '' : ($index==translations.length-2) ? '
                                and ' : ', '}}
                            </span>
                        </div>
                    </div>
                    <div class="content" style="background-color: #fff3fc">
                        <div style="margin-top: 50px; padding: 5px">
                            <span ng-repeat="phrase in word.phrases">
                                {{ phrase.translate }}
                                <br>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <dir-pagination-controls
                max-size="9"
                direction-links="true"
                boundary-links="true"
                template-url="js/dirPagination/dirPagination.tpl.html"
                on-page-change="getData(newPageNumber)">
        </dir-pagination-controls>
    </div>
</div>
</body>
</html>