.navbar-brand {
    margin-right: 0;
    padding: 5px;
}

.nav-link:hover {
    background-color: #93c6c3;
    border-radius: 10px;
}

footer {
    height: auto;
    color: #000;
    width: 100%;
}

#header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /*background: #75a29f;*/
    background-image: url("../img/header-cover.jpg");
}

#footer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #ffffff;
}

.dropdown-menu {
    /*background: #75a29f;*/
    background-image: url("../img/header-cover.jpg");
}

/*====================================================*/

/* entire container, keeps perspective */
.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 20px;
}

/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-container.static:hover .card,
.card-container.static.hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

/* flip speed goes here */
.card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 3;
}

/*        Style for cards      */
.card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}

.card-container, .front, .back {
    width: 100%;
    height: 300px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
}

.card .cover {
    height: 120px;
    overflow: hidden;
    margin-top: 5px;
    border-radius: 4px 4px 0 0;
}

.card .cover img {
    height: 100%;
}

.card .content {
    /*background-color: rgba(0, 0, 0, 0);*/
    box-shadow: none;
    padding: 5px 5px;
    height: 175px;
    background-color: #dfffef
}

.card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}

.card h4 {
    font-weight: bold;
}

.card-font {
    font-size: 20px;
    font-weight: bold;
}

.category-card-container {
    width: 100%;
    /*height: 300px;*/
    border-radius: 15px;
    background: none repeat scroll 0 0 #ffffff;
    color: #444444;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
}

.category-card-container:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.category-card-container a {
    text-decoration: none;
}

#search {
    width: 100%;
    padding: 0 10px 10px 10px;
}

a {
    color: #800000;
}

a:visited {
    color: #800000;
}

a:hover {
    color: #808000;
}

.social-icon img {
    width: 80px;
    background: #ffffff;
    padding: 10px;
}

#current-date {
    margin-top: 20px;
    padding: 10px;
    font-family: "Comic Sans MS";
    font-weight: bold;
}

.social-icon:hover {
    opacity: .5;
}

@media screen and (max-width: 992px) {
    .image-variant img {
        width: 100%;
    }

    .image-variant {
        padding: 0;
    }
}

.words-variant {
    width: 100%;
    padding: 5px;
}

.words-variant button {
    width: 100%;
}

@media (max-width: 992px) {
    .container {
        max-width: 95%;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 80%;
    }
}

.main-body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #f6f4f1;
}

.body-content {
    flex: 1;
    padding: 15px 0 0 0;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.training-links {
    font-size: 30px;
    font-weight: 500;
}

.training-card-container {
    width: 100%;
    /*height: 250px;*/
    border-radius: 15px;
    background: none repeat scroll 0 0 #ffffff;
    color: #444444;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
}

.training-card-container:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.training-card-container a {
    text-decoration: none;
}

.learning {
    position: relative;
    width: 100%;
}

.learning img {
    width: 100%;
}

.learning h3 {
    /*background-color: #75a29f;*/
    background-image: url("../img/header-cover.jpg");
    margin: 0;
    color: white;
    height: 35px;
}
